<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Upcoming Exams</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='css/attendance.css') }}">

</head>

<body>

<div class="report-container">

    <h1>Upcoming Exams</h1>

    <table>

        <tr>

            <th>Exam</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Time</th>
            <th>Class</th>

        </tr>

        {% for exam in exams %}

        <tr>

            <td>{{ exam.exam_name }}</td>

            <td>{{ exam.subject_name }}</td>

            <td>{{ exam.exam_date }}</td>

            <td>{{ exam.exam_time }}</td>

            <td>{{ exam.class_name }}</td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>