<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Attendance Report</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='css/attendance.css') }}">

</head>

<body>

<div class="report-container">

    <h1>Attendance Report</h1>
    <a href="/download-attendance-pdf"
class="download-btn">

    Download PDF

</a>

    <table>

        <tr>

            <th>Student Name</th>
            <th>Date</th>
            <th>Status</th>

        </tr>

        {% for record in records %}

        <tr>

            <td>{{ record.student_name }}</td>

            <td>{{ record.attendance_date }}</td>

            <td>{{ record.status }}</td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>